@charset "utf-8";
/* CSS Document */
.myEventDispatcher-application-64{
background-image:url('../images/myEventDispatcher-application-64.png');
background-position: -0px -0px;
}
.myEventDispatcher-application-64:active{
background-image:url('../images/myEventDispatcher-application-64.active.png');
background-position: -0px -0px;
}
.myEventDispatcher-application-64.disabled{
background-image:url('../images/myEventDispatcher-application-64.disabled.png');
background-position: -0px -0px;
}